#mainVisionary
{
    padding: 20rem 0 25rem;
    .wrap
    {
        padding: 10rem 0;
        background-color: #d9d9d9;
        border-radius: 16rem;
        overflow: hidden;
    }
}
.main-visionary
{
    &__label
    {
        margin-bottom: 3.8rem;
    }
}

@media (max-width: 768px) {
    #mainVisionary
    {
        padding: 40px 0 10px 0;
        border-radius: 60px;
        background: #06142b;
        .container
        {
            max-width: 100%;
        }
        .wrap
        {
            padding: 50px 0;
        }
    }
    .main-visionary
    {
        &__label
        {
            font-size: 24px;
        }
        &__text
        {
            font-size: 14px;
        }
    }
}