.main-banks
{
    &__label 
    {
        margin-bottom: 5rem;
        font-size: 8.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__text
    {
        margin-bottom: 6rem;
        font-size: 3.7rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__list
    {
        display: flex;
        column-gap: 2em;
        flex-direction: column;
        align-items: flex-start;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
    }
    &__form
    {
        padding: 3rem 3.8rem;
        border-radius: 2.4rem;
        border: 2px solid #8A694F;
        &-label
        {
            margin-bottom: 2.5rem;
            color: #FFF;
            font-size: 2.5rem;
            font-weight: 400;
        }
        .custom-form__control-wrap
        {
            margin-bottom: 1.4rem;
        }
        .btn
        {
            margin-top: 1.1rem;
            margin-bottom: 2.5rem;
        }
    }
    &__card
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.3rem;
        width: 100%;
        border: 1px solid #F5F5F5;
        background-color: #8A694F;
        &-row
        {
            margin-top: 10rem;
            row-gap: 2rem;
        }
        &-img
        {
            width: 100%;
            height: 100%;
            max-width: 80%;
            max-height: 80%;
            img
            {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 768px) {
    .main-banks
    {
        &__label
        {
            margin-bottom: 20px;
            font-size: 24px;
        }
        &__text
        {
            margin-bottom: 22px;
            font-size: 14px;
        }
        &__list
        {
            margin-left: .75em;
            font-size: 14px;
        }
        
        &__card
        {
            &-row
            {
                margin-bottom: 40px;
            }
            height: 30px;
        }
        &__form
        {
            padding: 30px 38px;
            &-label
            {
                margin-bottom: 25px;
                font-size: 16px;
            }
            .custom-form__control-wrap
            {
                margin-bottom: 14px;
            }
            .btn-primary
            {
                margin-top: 11px;
                margin-bottom: 25px;
                padding: 8px 0;
                width: 100%;
            }
        }

    }
}