@keyframes menuAnimationTopSpan {
    25%{
        top: 50%;
    }
    50%{
        transform:  rotate(-45deg);
        top: 50%;
    }
    100%{
        transform:rotate(-45deg);
        top: 50%;
    }
}
@keyframes menuAnimationBottomSpan {
    25%{
        width: 100%;
        bottom: 50%;
    }
    50%{
        transform: rotate(-45deg);
        width: 100%;
        bottom: 50%;
    }
    100%{
        transform: rotate(-135deg);
        width: 100%;
        bottom: 50%;
    }
}

@keyframes menuAnimationBackTopSpan {
    25%{
        transform: rotate(-45deg);
        top: 50%;
    }
    90%{
        transform: rotate(0deg);
        top: 50%;
    }
    100%{
        transform: rotate(0);
        top: 0;
        left: 0;
    }
}
@keyframes menuAnimationBackBottomSpan {
    25%{
        transform: rotate(-135deg);
        width: 100%;
        bottom: 50%;
    }
    90%{
        transform: rotate(0deg);
        width: 100%;
        bottom: 50%;
    }
    100%{
        transform: rotate(0);
        bottom: 0;
        left: 0;
        width: 50px;
    }
}


.header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 14.5rem;
    padding: 2rem 0;
    z-index: 1000;
    background-color: #06142b;
    &-menu
    {
        &__button
        {
            position: relative;
            width: 8rem;
            height: 2rem;
            cursor: pointer;
            span
            {
                position: absolute;
                display: block;
                background-color: #8A694F;
                height: 2px;
                transition: .5s;
            }
            span:nth-child(1)
            {
                top: 0;
                left: 0;
                width: 100%;
            }
            span:nth-child(2)
            {
                bottom: 0;
                left: 0;
                width: 5rem;
            }
            &.animate
            {
                span:nth-child(1)
                {
                    animation-duration: .5s;
                    animation-name: menuAnimationTopSpan;
                }
                span:nth-child(2)
                {
                    animation-duration: .5s;
                    animation-name: menuAnimationBottomSpan;
                }
            }
            &.animate-back
            {
                span:nth-child(1)
                {
                    animation-duration: .5s;
                    animation-name: menuAnimationBackTopSpan;
                }
                span:nth-child(2)
                {
                    animation-duration: .5s;
                    animation-name: menuAnimationBackBottomSpan;
                }
            }
            &.active
            {
                span:nth-child(1)
                {
                    transform: rotate(-45deg);
                    top: 50%;
                }
                span:nth-child(2)
                {
                    transform: rotate(-135deg);
                    width: 100%;
                    bottom: 50%;
                }
            }
        }
    }
    &-logo
    {
        width: 100%;
        height: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        img
        {
            width: 100%;
            aspect-ratio: 1/0.28;
            object-fit: contain;
            object-position: center;
        }
    }
    &-links
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1.9rem;
        &__phone
        {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 1.8rem;
            line-height: 1em;
            color: #8A694F;
            a
            {
                text-decoration: none;
                color: inherit;
            }
        }
        &__callform
        {
            svg
            {
                width: 3.7rem;
                height: 3.7rem;
                fill: #FFFFFF;
                transition: .3s;
            }
            display: flex;
            align-items: center;
            column-gap: 1.4rem;
            color: #FFF;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1em;
            text-decoration: none;
            transition: .3s;
            &:hover
            {
                svg
                {
                    fill: $primary;
                }
                color: $primary;
            }
        }
    }
}

.nav
{
    position: fixed;
    left: 0;
    top: 14.5rem;
    padding: 4rem 0 4.6rem;
    height: calc(100vh - 12.5rem);
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    transition: .3s;
    z-index: 100;
    overflow: hidden;
    background: rgba(6, 20, 43, 0.95);
    &.active
    {
        opacity: 1;
        transform: translateY(0);
    }
    &__wrap
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &__lists
    {
        display: flex;
    }
    &__left
    {

        padding-right: 1.7rem;
        border-right: 1px solid #8A694F;
        &-list
        {
            margin-bottom: 5.2rem;
            display: flex;
            flex-direction: column;
            row-gap: 4rem;
            list-style: none;
            li
            {
                color: #8A694F;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1em;
                a
                {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

    }
    &__right
    {
        display: flex;
        flex-direction: column;
        padding: 5.9rem 10.6rem 1rem 10.6rem;
        &-list
        {
            padding-bottom: 6.7rem;
            display: flex;
            flex-direction: column;
            row-gap: 3.6rem;
            list-style: none;
            li
            {
                color: #8A694F;
                font-size: 1.8rem;
                line-height: 1em;
                a
                {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        &-links
        {
            display: flex;
            column-gap: 3.2rem;
            margin-top: auto;
            a
            {
                img
                {
                    width: 4rem;
                    height: 4rem;
                }
            } 

        }
    }
    &-bottom
    {
        margin-top: auto;
        width: 100%;
        &__label
        {
            color: #FFF;
            line-height: 2.1em;
            font-size: 1.4rem;
        }
        &__text
        {
            color: #606E85;
            font-size: 1.2rem;
            line-height: 1.4em;
            a
            {
                color: inherit;
            }
        }
    }
}

@media (max-width: 768px) {
    .header
    {
        display: flex;
        align-items: center;
        height: 87px;
        border-bottom: 1px solid $primary;
        
        &-links
        {
            &__phone
            {
                display: none;
            }
            &__callform
            {
                font-size: 0;
                svg
                {
                    width: 40px;
                    height: 40px;
                    fill: $primary;
                }
            }
        }
        &-logo
        {
            height: 80%;
        }
    }
    .nav
    {
        top: 87px;
        height: calc(100vh - 87px);
        padding: 12px 0;
        &__right
        {
            display: none;
        }
        &__left
        {
            padding-right: 0;
            border-right: none;
            &-bottom
            {
                margin-top: 50px;
                display: flex;
                column-gap: 12px;
                .btn-primary
                {
                    padding: 8px 0;
                    font-size: 14px ;
                    width: 100%;
                }
                .nav__right-links
                {
                    a
                    {
                        img
                        {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            &-list
            {
                li
                {
                    font-size: 14px;
                }
                
            }
        }
        &-bottom
        {
           &__label
           {
            font-size: 10px;
           }
           &__text
           {
            font-size: 8px;
           }
        }
    }
}