#mainSwiper
{
    position: relative;
    padding-bottom: 23rem;
    overflow: hidden;
}
.main-swiper
{
    height: 79rem;
    border-radius: 80px;
    &__content
    {
        position: absolute;
        top: 5.4rem;
        right: 14rem;
        z-index: 20;
        &-label
        {
            margin-bottom: 3.2rem;
            color: #FFF;
            font-size: 7.2rem;
            line-height: 1.2em;
            letter-spacing: -2.52px;
            text-transform: uppercase;
            span
            {
                font-weight: 700;
            }
        }
    }
    .swiper-slide
    {
        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__pattern
    {
        &-1
        {
            width: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &-2
        {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
.swiper-main__pagination
{
    display: none;
}
@media (max-width: 768px) {
    #mainSwiper
    {
        padding-top: 25px;
        padding-bottom: 180px;
    }
    .swiper-main__pagination
    {
        display: block;
    }
    .main-swiper
    {
        border-radius: 60px;
        &__pattern
        {
            &-1
            {
                display: none;
            }
            &-2
            {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        &__content
        {
            right: initial;
            left: 30px;
          &-button
          {
            display: none;
          }
          &-label
          {
            font-size: 30px;
            span
            {
                font-size: 30px;
            }
          }
        }
        &__control
        {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 66%;
            margin-inline: auto;
        }

    }

}