#mainView
{
    position: relative;
    overflow: hidden;
    padding-bottom: 32rem;
}
.main-view
{
    &__label
    {
        margin-bottom: 5rem;
        font-size: 8rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        span
        {
            font-size: 8rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__text
    {
        font-weight: 500;
    }
    &__img
    {
        margin-bottom: 9rem;
        height: 78rem;
        width: 100%;
        border-radius: 16rem;
        overflow: hidden;
        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.main-development
{
    &__label
    {
        font-size: 150px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #8A694F;
        &-second
        {
            margin-top: -0.25em;
            margin-bottom: 3rem;
            color: #8A694F;
            font-size: 13rem;
            font-weight: 100;
        }
    }
    &__text
    {
        font-weight: 500;
    }
    &__text-white
    {
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__bottom-text
    {
        margin-top: 11rem;
        color: #8A694F;
        font-size: 4.7rem;
        font-weight: 600;
    }
    &__pattern-1
    {
        width: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(20%);
        svg
        {
            width: 100%;
            height: 100%;
        }
    }
    &__pattern-2
    {
        width: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(20%);
        svg
        {
            width: 100%;
            height: 100%;
        }
    }
}
@media (max-width: 991px) {
    .main-view
    {
        &__label
        {
            margin-bottom: 20px;
            font-size: 34px;
            span
            {
                font-size: 54px;

            }

        }
        &__text
        {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    .main-development
    {
        &__label
        {
            font-size: 70px;
            &-second
            {
                margin-bottom: 30px;
                font-size: 70px;
                font-weight: 100;
            }
        }
    }
}
@media (max-width: 768px) {
    #mainView
    {
        padding-bottom: 160px;
    }
    .main-view
    {
        &__label
        {
            margin-bottom: 20px;
            font-size: 24px;
            span
            {
                font-size: 64px;

            }
        }
        &__text
        {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__img
        {
            height: 306px;
        }
    }
    
    
    .main-development
    {
        &__label
        {
            font-size: 64px;
            &-second
            {
                font-size: 24px;
            }
        }
        &__text
        {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__text-white
        {
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__bottom-text
        {
            margin-top: 0;
            font-size: 14px;
        }
        &__pattern-1
        {
            display: none;
        }
        &__pattern-2
        {
            transform: translateY(60%);
            width: 175%;
        }
    }
}