<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="footer-logo">
                    <img src="img/logo.svg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <!-- <ul class="footer-nav">
                    <li><a href="">Концепция</a></li>
                    <li><a href="">Онлайн</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">Документы</a></li>
                </ul> -->
            </div>
            <div class="col-md-3 col-12">
                <div class="footer-contacts">
                    <div class="footer-contacts__phone">
                        <a href="tel:">+7 (347) 2-999-222</a>
                    </div>
                    <a href="" class="footer-contacts__btn btn btn-primary outline-none w-ft">
                        Заказать звонок
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-12 order-md-0 order-2">
                <div class="footer-conf">
                    <a href="">Политика конфиденциальности</a>
                </div>
                <div class="footer-rights">
                    (c) 2023, Все права защищены. 
                </div>
            </div>
            <div class="col-md-7 col-12 order-3">
                <div class="footer-about">
                    ООО СЗ «Строительный Трест Девелопмент», ИНН 0278959449. Проектная декларация размещена на сайте наш.дом.рф. 
                    Проектное финансирование от ПАО СБЕРБАНК, срок сдачи объекта — II квартал 2026 года.
                </div>
            </div>
            <div class="col-md-2 col-12 order-md-2 order-0">
                <div class="footer-socials">
                    <a href="">
                        <img src="img/telegram.svg" alt="">
                    </a>
                    <a href="">
                        <img src="img/vk.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</footer>