

$index: calc(1vw + 1vh);
// $primary-bg: #85919D;
$primary: #8A694F !important;
$primary-light: #B29177 !important;
$dark: #4F2A1E !important;
$light: #E2C3A7 !important;
$black: #363636 !important;

*,
*::before,
*::after 
{
	box-sizing: border-box;
}

html 
{
	font-size: calc($index * 0.33333);
}

html,
body
{
	min-height: 100%;
	position: relative;
}

body 
{
	background: rgba(6, 20, 43, 1);
	font-family: 'TRYGrtsk';
	font-size: 1rem;
}

.main
{
	padding-top: 14.5rem;
}

@media (max-width: 768px) {
	
	.main
	{
		padding-top: 87px;
	}
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}



@media (min-width: 1800px) {
	.container
	{
		max-width: 175.9rem;
	}
}

@media (max-width: 1600px) {
	.container
	{
		max-width: 1359px;
	}
}

@media (max-width: 1400px) {
	.container
	{
		max-width: 1259px;
	}
}

@media (max-width: 1200px) {
	.container
	{
		max-width: 1059px;
	}
}
@media (max-width: 991px) {
	.container
	{
		max-width: 759px;
	}
}
@media (max-width: 768px) {
	.container
	{
		max-width: 532px;
	}
}
@media (max-width: 576px) {
	.container
	{
		max-width: 332px;
	}
}


.w-ft
{
	width: fit-content;
}


h1,
.h1
{
	font-size: 8rem;
	font-weight: 300;
	line-height: normal;
}
h2,
.h2
{
	font-size: 4.4rem;
	font-weight: 400;
	line-height: normal;
}
h3,
.h3
{
	font-size: 3.4rem;
	font-weight: 400;
	line-height: normal;
}
h4,
.h4
{
	font-size: 2.4rem;
	font-weight: 500;
	line-height: normal;
}
h5,
.h5
{
	font-size: 2rem;
	font-weight: 500;
	line-height: normal;
}
p,
.p
{
	font-size: 1.8rem;
	font-weight: 300;
	line-height: normal;
}
@media (max-width: 768px) {
	p,
	.p
	{
		font-size: 14px;
	}
}
.fw-800
{
	font-weight: 800;
}
.fw-700
{
	font-weight: 700;
}
.fw-600
{
	font-weight: 600;
}
.fw-500
{
	font-weight: 500;
}
.fw-400
{
	font-weight: 400;
}
.fw-300
{
	font-weight: 300;
}
.text-up
{
	text-transform: uppercase;
}

.text-primary
{
	color: $primary;
}
.text-primary-light
{
	color: $primary-light;
}
.text-black
{
	color: $black;
}
// margin-top
.mt-80
{
	margin-top: 8rem;
}
.mt-60
{
	margin-top: 6rem;
}
// margin-bottom
.mb-100
{
	margin-bottom: 10rem;
}
.mb-80
{
	margin-bottom: 8rem;
}
.mb-70
{
	margin-bottom: 7rem;
}
.mb-50
{
	margin-bottom: 5rem;
}
.mb-40
{
	margin-bottom: 4rem;
}
.mb-20
{
	margin-bottom: 20px;
}
.mb-0
{
	margin-bottom: 0;
}
// padding-y-axis
.py-40
{
	padding: 4rem 0;
}
.py-100
{
	padding: 10rem 0;
}
// padding-bottom
.pb-100
{
	padding-bottom: 10rem;
}
.pb-80
{
	padding-bottom: 8rem;
}
.pb-70
{
	padding-bottom: 7rem;
}
.pb-40
{
	padding-bottom: 4rem;
}
// padding-top
.pt-80
{
	padding-top: 8rem;
}
.pt-70
{
	padding-top: 7rem;
}
.pt-40
{
	padding-top: 4rem;
}

@media (min-width: 1600px) {
	.mb-20
	{
		margin-bottom: 2rem;
	}
}

@media (min-width: 991px) {

	.text-lg-up
	{
		text-transform: uppercase;
	}
}

@media (max-width: 991px) {
	.mb-lg-20
	{
		margin-bottom: 20px;
	}
	.mb-lg-15
	{
		margin-bottom: 15px;
	}
	.mb-lg-30
	{
		margin-bottom: 30px;
	}
}

.main-pattern
{
	background: url('../img/main-pattern.svg') 1000px top repeat;
}

.white-pattern
{
	background: url('../img/white-pattern.svg') 1000px top repeat;
}
.map
{
	position: relative;
}