#mainGallery
{
    position: relative;
    padding-bottom: 23rem;
    overflow: hidden;
}
#main-gallery-swiper
{
    height: 76.8rem;
}
.main-gallery
{
    &__slide
    {

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16rem;
        }
    }
}

@media (max-width: 768px) {
    #mainGallery
    {
        padding-bottom: 160px;
    }
}