<div class="modal" id="callorder" style="display: none;">
    <div class="modal-close" data-fancybox-close></div>
    <div class="modal-label">
        Узнайте подробности
    </div>
    <form class="modal-form">
        <input type="text" class="modal-form__input" placeholder="Имя">
        <input type="tel" class="modal-form__input" placeholder="Телефон">
        <button type="submit" class="btn btn-white">Отправить</button>

        <div class="custom-checkbox">
            <label class="custom-checkbox__label">
                <input type="checkbox" id="callorderCheckbox" value="1" name="policy" checked="" required="">
                <span class="checkmark"></span>
            </label>
            <div class="custom-checkbox__text">Нажимая кнопку, вы соглашаетесь на <a href="#" target="_blank">обработку персональных данных</a></div>
        </div>
    </form>
</div>