@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';


@media (min-width:991px) {
    
    main
    {
        overflow: hidden;
        min-height: 100vh;
        padding-top: 14.5rem;
    }
    
}
.custom-form__control
{
    padding: 1.1rem 2.2rem .7rem 13.9rem;
    width: 100%;
    color: #000;
    font-size: 1.8rem;
    border: none;
    &:active,
    &:focus
    {
        outline: none;
        border: none;
    }
    &::placeholder
    {
        color: #000;
        font-size: 1.8rem;
        font-weight: 400;
        
    }
    &-label
    {
        position: absolute;
        left: 1.4rem;
        top: 50%;
        transform: translateY(-50%);
        color: #7A7A7A;
        font-size: 1.4rem;
    }
    &-wrap
    {
        position: relative;
        
    }
}

.custom-checkbox 
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 2.4rem;
}
.custom-checkbox__label {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
}
@media (max-width: 991px) {
    .custom-checkbox__label {
        width: 24px;
        height: 24px;
    }
}
.custom-checkbox__label input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.custom-checkbox__label::before
{
    content: "";
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #672A10;
    border-image: linear-gradient(180deg, #672A10 0%, #C1AFA7 28.65%, #724B3A 65.62%, #986955 100%);
    border-image-slice: 1;
    z-index: 10;
    pointer-events: none;
}
.custom-checkbox__label .checkmark
{
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url('../img/checkmark.svg') bottom center/contain no-repeat;
    z-index: 20;
    pointer-events: none;
}
.custom-checkbox__label input:checked ~ .checkmark {
    opacity: 1;
}
.custom-checkbox__text {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    a
    {
        color: inherit;
        text-decoration: none;
    }
}

.btn-primary
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3.1rem;
    backdrop-filter: blur(5px);
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 0;
    background-color: $primary;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .3s;
    &:focus-visible,
    &:hover,
    &:active,
    :not(.btn-check)+&:active,
    &:first-child:active,
    &.active,
    &.show
    {
        border: 2px solid $primary;
        background-color: #FFFFFF !important;
        color: $primary;
    }
    &.outline-none
    {
        border: 0 !important;
    }
}

.btn-white
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3.1rem;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    background-color: #FFFFFF;
    color: $primary;
    text-transform: uppercase;
    transition: .3s;
    &:focus-visible,
    &:hover,
    &:active,
    :not(.btn-check)+&:active,
    &:first-child:active,
    &.active,
    &.show
    {
        border: 2px solid #FFFFFF;
        background-color: $primary !important;
        color: #FFFFFF !important;
    }
    &.outline-none
    {
        border: 0 !important;
    }
}
.swiper-pagination
{
    position: static;
    color: $primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 3.44px;
}

@media (min-width:768px) {
    .swiper-pagination
    {
        display: none;
    }
}


@media (max-width: 768px) {
    .btn-primary,
    .btn-white
    {
        font-size: 16px;
        padding: 8px 20px;
    }
    .btn-primary
    {
        color: #FFF;

        border: 0;
        background: #BC8552;
        align-self: center;
    }
    .custom-form__control
    {
        background: #D9D9D9;
        font-size: 12px;
        padding: 9px 8px 9px 90px;
        
        &::placeholder
        {
            font-size: 12px;
        }

        &-label
        {
            font-size: 12px;
        }
        &-wrap
        {
            margin-bottom: 16px;
        }
    }
    .custom-checkbox 
    {
        align-items: flex-start;
        column-gap: 13px;
    }
    .custom-checkbox__label
    {
        width: 22px;
        height: 22px;
    }
    .custom-checkbox__text
    {
        font-size: 10px;
    }
}

.swiper-prev,
.swiper-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background-color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
    flex-shrink: 0;
}
.swiper-prev
{
    left: 4.4rem;
}
.swiper-next
{
    right: 4.4rem;
}

.swiper-prev:hover,
.swiper-next:hover
{
    background-color: #986955;
    .arrow-right,
    .arrow-left,
    .arrow-right::after,
    .arrow-left::after,
    .arrow-right::before,
    .arrow-left::before
    {
        background-color: #FFF;
    }
}
@media (max-width: 768px) {
    .swiper-controls
    {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-inline: auto;
        width: 66%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .swiper-prev,
    .swiper-next
    {
        position: static ;
        transform: translateY(0%) ; 
    }
}



.arrow-right,
.arrow-left{
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #986955;
    border-radius: 4px;
    transition: .3s;
}
.arrow-right
{
    transform: rotate(180deg);
}

.arrow-right::after,
.arrow-left::after{
    content: "";
    position: absolute;
    left: -46%;
    top: 0;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #986955;
    border-radius: 4px;
    transform: rotate(135deg) translateX(-50%) translateY(-50%);
    transition: .3s;
}

.arrow-right::before,
.arrow-left::before{
    content: "";
    position: absolute;
    left: -30%;
    top: 0;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #986955;
    border-radius: 4px;
    transform: rotate(-135deg) translateX(-38%) translateY(-50%);
    transition: .3s;
}

@media (max-width: 768px) {
    .swiper-prev,
    .swiper-next
    {
        width: 40px;
        height: 40px;
    }
    .arrow-right,
    .arrow-left{
        width: 18px;
    }
    .arrow-right::after,
    .arrow-left::after{
        width: 14px;
    }
    .arrow-right::before,
    .arrow-left::before{
        
        width: 14px;
    }
}
.modal-close {
    position: absolute;
    left: 8rem;
    top: 3rem;
    width: 6rem;
    height: 6rem;
    background-color: var(--primary);
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    cursor: pointer
  }
  .modal-close::after,
  .modal-close::before {
    content: "";
    display: block;
    height: .2rem;
    width: 5.2rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
  }
  .modal-close:hover::after,
  .modal-close:hover::before {
    background-color: #C6A58B;
  }
  .modal-close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
  }
  .modal-close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg)
  }

  @media (max-width: 768px) {
    .modal-close {
        left: 20px;
        top: 20px;
        cursor: pointer
      }
      .modal-close::after,
      .modal-close::before {
        width: 50px;
      }
  }

  .feather-right {
    position: absolute;
    right: 0rem;
    top: -7rem;
    width: 65rem;
    height: 84rem;
    z-index: -1
}

.feather-right img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.feather-right__secondary {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 57rem!important;
    height: 65rem!important;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: -2
}

@media (max-width: 991px) {
    .feather-right
    {
        display: none;
    }
}